/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #673ab7;
    --color-primary-rgb: 103, 58, 183;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shade: #5b33a1;
    --color-primary-tint: #764ebe;

    --color-secondary: #916dd1;
	--color-secondary-rgb: 145,109,209;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #8060b8;
	--color-secondary-tint: #9c7cd6;

    --color-tertiary: #3a4bb7;
    --color-tertiary-rgb: 58, 75, 183;
    --color-tertiary-contrast: #ffffff;
    --color-tertiary-contrast-rgb: 255, 255, 255;
    --color-tertiary-shade: #3342a1;
    --color-tertiary-tint: #4e5dbe;

    --color-success: #2dd36f;
    --color-success-rgb: 45, 211, 111;
    --color-success-contrast: #000000;
    --color-success-contrast-rgb: 0, 0, 0;
    --color-success-shade: #28ba62;
    --color-success-tint: #42d77d;

    --color-warning: #ffc409;
    --color-warning-rgb: 255, 196, 9;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0ac08;
    --color-warning-tint: #ffca22;

    --color-danger: #eb445a;
    --color-danger-rgb: 235, 68, 90;
    --color-danger-contrast: #ffffff;
    --color-danger-contrast-rgb: 255, 255, 255;
    --color-danger-shade: #cf3c4f;
    --color-danger-tint: #ed576b;

    --color-medium: #92949c;
    --color-medium-rgb: 146, 148, 156;
    --color-medium-contrast: #000000;
    --color-medium-contrast-rgb: 0, 0, 0;
    --color-medium-shade: #808289;
    --color-medium-tint: #9d9fa6;

    --color-light: #ece5f7;
    --color-light-rgb: 236, 229, 247;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0, 0, 0;
    --color-light-shade: #d0cad9;
    --color-light-tint: #eee8f8;

}

html,
body {
    height: 100%;
}

body {
    background: var(--color-light);
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
    color: var(--color-primary);
}

.secondary-color {
    color: var(--color-secondary);
}

.tertiary-color {
    color: var(--color-tertiary);
}

.primary-bg {
    background-color: var(--color-primary);
}

.secondary-bg {
    background-color: var(--color-secondary);
}

.tertiary-bg {
    background-color: var(--color-tertiary);
}